.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.CardThumb {
  height: 115px;
  margin-left: 10px;
}

.Selected {
  border: 2px solid #e22d2d;
}

.Hand {
  position: relative;
}

.StablePreview {
  background-color: #393e47;
  color: white;
  border: 2px solid #008628;
  font-size: medium;
  float:left;
  padding: 5px;
  margin: 10px;
  text-align: left;
}

.PreviewSidebar {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
}

.SelectedStable {
  background-color:rgb(38, 0, 209);
}

.Stable {
  background-color: #393e47;
  float:left;
  padding: 5px;
  margin: 10px;
  text-align: left;
}

.PlayerList {
  position: left;
  justify-content: right;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(3.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  position:relative;
  z-index:1000
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
